extends ../layout

block additionalHead
    link(rel='stylesheet', href='/stylesheets/admin/style.css')
    script(src="/javascripts/admin/index.js")

block content
    .container.requests
        .requests-container
            if !requests.length
                .miss
                    h5 No more requests pending!
            each request in requests
                .request
                    .info
                        .name-and-address
                            h2.name #{request.name}
                            h5.address #{request.address || 'No address :('} 
                            .website
                                .web-icon
                                    i.fas.fa-share-square
                                if request.website
                                    a(href=request.website) #{request.website}
                                else
                                    p No website :(
                    .action
                        button.approve.action-btn(action='/admin/' + request.id + '/publish') Approve
                        button.reject.action-btn(action='/admin/' + request.id + '/reject') Reject