.search-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.search-results .place {
    display: block;
    position: relative;
    width: 100%;
    box-shadow: 0px 7px 40px -10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 40px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 3;
    color: var(--primary-text-color);
}

.search-results .place:first-child {
    margin-top: 0;
}

.search-results .place:last-child {
    margin-bottom: 0;
}

.search-results .place .info {
    display: flex;
    flex-direction: row;
}

.search-results .place .info .image {
    height: 70px;
    width: 70px;
    border-radius: 5px;
    margin-right: 20px;
}

.search-results .place .info .name-and-address {
    display: flex;
    flex-direction: column;
}

.search-results .place .info .name-and-address .name {
    font-size: 30px;
    margin-bottom: 8px;
}

.search-results .place .info .name-and-address .address {
    font-weight: 300;
    margin-bottom: 2px;
}

.search-results .place .info .name-and-address .website {
    font-weight: 300;
}

.search-results .place .info .name-and-address .website {
    display: flex;
    flex-direction: row;
}

.search-results .place .info .name-and-address .website .web-icon {
    color: var(--primary-color);
    font-size: 14px;
    margin-right: 5px;
}

.search-results .place .info .name-and-address .website a {
    color: var(--primary-color);
    text-decoration: none;
}

.search-results .place .info .name-and-address .website a:hover {
    text-decoration: underline;
}

.search-results .place .review {
    margin-top: 20px;
}

.search-results .place .review {
    font-weight: 300;
    font-style: italic;
}

.search-results .miss {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.3);
}