.main .wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 50px;
}

.wrapper .profile-container {
    width: 400px;
}

.wrapper .profile-container .fixed {
    position: fixed;
    width: 350px;
}

.wrapper .profile-container .fixed .profile {
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 7px 40px -10px rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
}

.wrapper .profile-container .fixed .profile .image {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 8px;
}

.wrapper .profile-container .fixed .profile .image .inner {
    height: 100%;
    width: 100%;
    border: 1px #fff solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.wrapper .profile-container .fixed .profile .image .name {
    font-weight: 500;
    font-size: 25px;
    color: #fff;
}

.wrapper .profile-container .fixed .profile .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 20px 20px 20px;
}

.wrapper .profile-container .fixed .profile .info .field {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.wrapper .profile-container .fixed .profile .info .field:last-child {
    margin-bottom: 0;
}

.wrapper .profile-container .fixed .profile .info .field .field-icon {
    color: var(--primary-color);
    display: inline-block;
    margin-right: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 15px;
    width: 20px;
}

.wrapper .profile-container .fixed .profile .info .field p {
    display: inline-block;
    font-size: 15px;
    color: var(--primary-text-color);
    word-wrap: break-word;
}

.wrapper .profile-container .fixed .profile .info .field a {
    display: inline-block;
    font-size: 15px;
    color: var(--primary-color);
    text-decoration: none;
    word-wrap: break-word;
}

.wrapper .profile-container .fixed .profile .info .field a:hover {
    text-decoration: underline;
}

.wrapper .reviews-container {
    flex: 1;
}

.wrapper .reviews-container .reviews .review {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 7px 40px -10px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 40px;
}

.wrapper .reviews-container .reviews .review .info {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    color: var(--primary-text-color-u);
    margin-bottom: 15px;
}

.wrapper .reviews-container .reviews .review .info p {
    display: inline-block;
}

.wrapper .reviews-container .reviews .review .info p a.user {
    color: var(--primary-color);
    text-decoration: none;
}

.wrapper .reviews-container .reviews .review .info .timestamp {
    margin-left: auto;
}

.wrapper .reviews-container .reviews .review .text {
    color: var(--primary-text-color);
    line-height: 23px;
}

.wrapper .reviews-container .reviews .review .text p {
    line-height: 24px;
    white-space: pre-line;
}

.wrapper .profile-container .new-review {
    display: block;
    text-decoration: none;
    height: 50px;
    margin-bottom: 40px;
    box-shadow: 0px 7px 40px -10px rgba(0, 0, 0, 0.4);
    padding: 8px;
    border-radius: 4px;
}

.wrapper .profile-container .new-review .inner {
    height: 100%;
    width: 100%;
    border: 1px #fff solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.wrapper .profile-container .new-review .inner h5 {
    color: #fff;
    margin-left: 10px;
}

.wrapper .reviews-container .miss {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.3);
}

.wrapper .reviews-container .miss h5 {
    font-size: 20px;
    margin-bottom: 30px;
}

.wrapper .reviews-container .miss a {
    text-decoration: none;
    color: rgb(180, 180, 180);
    padding: 10px 20px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.wrapper .reviews-container .miss a:hover {
    background-color: rgb(180, 180, 180);
    border: 1px solid rgb(180, 180, 180);
    color: #fff;
}

.wrapper .profile-container .fixed .profile .info .score {
    width: 100%;
    margin-bottom: 50px;
    padding: 0 10px;
}

.wrapper .profile-container .fixed .profile .info .score #bar {
    width: 100%;
    height: 1px;
    background-color: rgb(200, 200, 200);
    position: relative;
}

.wrapper .profile-container .fixed .profile .info .score #bar .marker {
    position: absolute;
    height: 9px;
    width: 9px;
    border-radius: 9px;
    background-color: var(--primary-color);
    animation: pulse 2s infinite;
    top: -3px;
    z-index: 1;
}

.wrapper .profile-container .fixed .profile .info .score #bar .val {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: var(--primary-color);
    top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 0px 7px 20px -5px rgba(0, 0, 0, 0.4);
    user-select: none;
    z-index: 2;
}

.wrapper .profile-container .fixed .profile .info .score #bar .stick {
    position: absolute;
    height: 20px;
    width: 1px;
    border-radius: 40px;
    background-color: var(--primary-color);
    top: -20px;
    z-index: 1;
}

.wrapper .profile-container .fixed .profile .info .score #bar .tick {
    position: absolute;
    height: 11px;
    width: 1px;
    top: -5px;
    background-color: rgb(200, 200, 200);
}

.wrapper .profile-container .fixed .profile .info .score #bar .tick.left {
    left: 0;
}

.wrapper .profile-container .fixed .profile .info .score #bar .tick.right {
    right: 0;
}

.wrapper .profile-container .fixed .profile .info .score #bar .tick.mid {
    left: 50%;
}

.wrapper .profile-container .fixed .profile .info .score #bar .expr-icon {
    position: absolute;
    top: 10px;
    color: rgb(200, 200, 200);
    font-size: 18px;
}

.wrapper .profile-container .fixed .profile .info .score #bar .expr-icon.neg {
    left: -9px;
}

.wrapper .profile-container .fixed .profile .info .score #bar .expr-icon.pos {
    right: -9px;
}

.wrapper .profile-container .fixed .profile .info .score #bar .expr-icon.meh {
    left: calc(50% - 9px);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(87, 151, 233, 0.8);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(87, 151, 233, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(87, 151, 233, 0);
    }
}