extends ../layout

block additionalHead
    link(rel='stylesheet', href='/stylesheets/places/style.css')

block content
    .wrapper
        .profile-container
            .profile
                .image
                    .share-btn
                        .share-icon
                            i.fas.fa-share-alt
                .info
                    h5.name Hello World Inn.
                    .field
                        .field-icon
                            i.fas.fa-map-marker
                        p 1234 Hello World Ave, Example, MA, 02215
                    .field
                        .field-icon
                            i.fas.fa-phone
                        p 999-999-9999
                    .field
                        .field-icon
                            i.fas.fa-share-square
                        a(href="http://www.hello.world") www.hello.world
        .reviews-container
            .review
                .info
                    p posted by 
                        a.user(href="#") shonihei
                    p.timestamp 2 hours ago
                .text
                    p "Lorem ipsum dolor sit amet consectetur adipisicing elit. In sapiente asperiores eos ut doloribus ipsa officia necessitatibus aliquid! Suscipit corrupti qui vel sit? Corporis ullam in molestiae numquam distinctio architecto."
            .review
                .info
                    p posted by 
                        a.user(href="#") shonihei
                    p.timestamp 2 hours ago
                .text
                    p "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis nobis sed porro, ex sit ad tempora vel ullam aliquam tempore nostrum consequuntur ab sunt modi magnam? Nihil rerum quas facere."
            .review
                .info
                    p posted by 
                        a.user(href="#") shonihei
                    p.timestamp 2 hours ago
                .text
                    p "Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae reprehenderit odio aliquid recusandae eius, commodi blanditiis amet repudiandae! Officia possimus nisi, voluptatibus aliquam pariatur quaerat obcaecati similique facilis eum ipsam!"
            .review
                .info
                    p posted by 
                        a.user(href="#") shonihei
                    p.timestamp 2 hours ago
                .text
                    p "Lorem ipsum dolor sit amet consectetur adipisicing elit. In sapiente asperiores eos ut doloribus ipsa officia necessitatibus aliquid! Suscipit corrupti qui vel sit? Corporis ullam in molestiae numquam distinctio architecto."
            .review
                .info
                    p posted by 
                        a.user(href="#") shonihei
                    p.timestamp 2 hours ago
                .text
                    p "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis nobis sed porro, ex sit ad tempora vel ullam aliquam tempore nostrum consequuntur ab sunt modi magnam? Nihil rerum quas facere."
            .review
                .info
                    p posted by 
                        a.user(href="#") shonihei
                    p.timestamp 2 hours ago
                .text
                    p "Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae reprehenderit odio aliquid recusandae eius, commodi blanditiis amet repudiandae! Officia possimus nisi, voluptatibus aliquam pariatur quaerat obcaecati similique facilis eum ipsam!"
            .review
                .info
                    p posted by 
                        a.user(href="#") shonihei
                    p.timestamp 2 hours ago
                .text
                    p "Lorem ipsum dolor sit amet consectetur adipisicing elit. In sapiente asperiores eos ut doloribus ipsa officia necessitatibus aliquid! Suscipit corrupti qui vel sit? Corporis ullam in molestiae numquam distinctio architecto."
            .review
                .info
                    p posted by 
                        a.user(href="#") shonihei
                    p.timestamp 2 hours ago
                .text
                    p "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis nobis sed porro, ex sit ad tempora vel ullam aliquam tempore nostrum consequuntur ab sunt modi magnam? Nihil rerum quas facere."
            .review
                .info
                    p posted by 
                        a.user(href="#") shonihei
                    p.timestamp 2 hours ago
                .text
                    p "Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae reprehenderit odio aliquid recusandae eius, commodi blanditiis amet repudiandae! Officia possimus nisi, voluptatibus aliquam pariatur quaerat obcaecati similique facilis eum ipsam!"
            