extends ../layout

block additionalHead
    link(rel='stylesheet', href='/stylesheets/places/search.css')

block content
    .container
        .search-results
            .place
                .info
                    .image(style='background: linear-gradient(to left, #AAFFA9, #11FFBD)')
                    .name-and-address
                        h2.name Boston University
                        h5.address 722 Commonwealth Avenue, Boston, MA, 02215
                        .website
                            .web-icon
                                i.fas.fa-share-square
                            a(href="www.bu.edu") www.bu.edu
                .review
                    p "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus quo dignissimos magnam voluptas ipsum et harum excepturi ea a consectetur. Deleniti corrupti animi sapiente porro nemo dolorum et ipsam! Iure!"
            .place
                .info
                    .image(style='background: linear-gradient(to left, #AAFFA9, #11FFBD)')
                    .name-and-address
                        h2.name Boston University
                        h5.address 722 Commonwealth Avenue, Boston, MA, 02215
                        .website
                            .web-icon
                                i.fas.fa-share-square
                            a(href="www.bu.edu") www.bu.edu
                .review
                    p "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus quo dignissimos magnam voluptas ipsum et harum excepturi ea a consectetur. Deleniti corrupti animi sapiente porro nemo dolorum et ipsam! Iure!"

            .place
                .info
                    .image(style='background: linear-gradient(to left, #AAFFA9, #11FFBD)')
                    .name-and-address
                        h2.name Boston University
                        h5.address 722 Commonwealth Avenue, Boston, MA, 02215
                        .website
                            .web-icon
                                i.fas.fa-share-square
                            a(href="https://www.bu.edu") www.bu.edu
                .review
                    p "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus quo dignissimos magnam voluptas ipsum et harum excepturi ea a consectetur. Deleniti corrupti animi sapiente porro nemo dolorum et ipsam! Iure!"