html
    head
        title=title
        //- Import fonts from Google Fonts
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lobster')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Rubik:300,400,700')
        link(rel='stylesheet', href='/stylesheets/layout/reset.css')
        link(rel='stylesheet', href='/stylesheets/layout/style.css')

        //- Import Font Awesome
        script(defer, src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")

        script(src='/javascripts/app.js')
        script(src='/javascripts/layout/search.js')

        block additionalHead
    body
        nav#navbar.transparent
            .container
                .logo-container
                    a.logo(href='/') 
                        span.highlight Open
                        | Reviews
                .menu
                    .search-box
                        input#search-place-q(type='text', name='q', placeholder='Find places...')
                        .wrapper
                            div.search-icon
                                i.fas.fa-search
                            input#search-place-submit(type='submit', name='', value='')
                .account
                    a.nav(href="/accounts/login") Sign in
                    h5 or
                    a.nav(href="/accounts/register") Sign up
        section.main
            block content
