html
    head
        title='Open Reviews - ' + title
        //- Import fonts from Google Fonts
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lobster')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Rubik:300,400,700')
        link(rel='stylesheet', href='/stylesheets/layout/reset.css')
        link(rel='stylesheet', href='/stylesheets/layout/style.css')

        //- Import Font Awesome
        script(defer, src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")

        script(src='/javascripts/app.js')

        block additionalHead
    body
        nav#navbar.transparent
            .container
                .logo-container
                    a.logo(href='/') 
                        span.highlight Open
                        | Reviews
                .search-container
                    .search-box
                        input#search-place-q(type='text', name='q', placeholder='Find places...')
                        .wrapper
                            div.search-icon
                                i.fas.fa-search
                            input#search-place-submit(type='submit', name='', value='')
                .account
                    if user
                        h5 Hello,
                        #open-menu
                            h5.username #{user.username}
                            .caret-icon
                                i.fas.fa-caret-down
                            #menu
                                .content
                                    if user.isAdmin
                                        a.nav-item(href='/admin')
                                            .nav-icon
                                                i.fas.fa-unlock-alt
                                            h5.text Admin Dashboard
                                    a.nav-item(href='/places/new')
                                        .nav-icon
                                            i.fas.fa-utensils
                                        h5.text Add a place!
                                    a.nav-item(href='/accounts/logout')
                                        .nav-icon
                                            i.fas.fa-power-off
                                        h5.text Sign out
                    else
                        a.nav(href="/accounts/login") Sign in
                        h5 or
                        a.nav(href="/accounts/register") Sign up
        section.main
            block content