:root {
    --transition: cubic-bezier(0.95,-0.3,0,1.2);
}

section.main {
    margin: 0;
}

#navbar.transparent {
    background-color: transparent;
    box-shadow: none;
}

#navbar.transparent .container .logo-container .logo {
    color: #fff;
}

#navbar.transparent .container .search-container .search-box input[type="text"] {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

#navbar.transparent .container .search-container .search-box input[type="text"]:focus {
    outline: none;
    border: 1px solid #fff;
    background-color: transparent;
}

#navbar.transparent .container .search-container .search-box input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#navbar.transparent .container .search-container .search-box .wrapper .search-icon {
    color: #7F88CE;
}

#navbar.transparent .container .search-container .search-box .wrapper input[type='submit'] {
    background-color: #fff;
}

#navbar.transparent .container .account .nav {
    color: #fff;
}

#navbar.transparent .container .account h5 {
    color: #fff;
}

#navbar.transparent .container .account #open-menu {
    border: 1px solid #fff;
}

#navbar.transparent .container .account #open-menu .caret-icon {
    color: #fff;
}

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #3494e6, #ec6ead);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero .bam {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 120px;
}

.hero .bam .big-message {
    font-size: 45px;
    letter-spacing: 13px;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);
    user-select: none;
    margin-left: 10px;
}

.hero .bam .line {
    height: 1px;
    width: 100px;
    background-color: #fff;
}

.hero .subheader {
    color: #fff;
    font-weight: 300;
    letter-spacing: 5px;
    margin-bottom: 80px;
}

.hero .blurb {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    max-width: 550px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 30px;
}

.hero .signup-btn {
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 300;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 30px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.hero .signup-btn:hover {
    box-shadow: 0 6px 10px -4px rgba(255, 255, 255, 0.6);
}

.hero #scroll-down-yo {
    position: absolute;
    height: 40px;
    width: 25px;
    border: 2px solid #fff;
    border-radius: 20px;
    bottom: 60px;
    transition: opacity 0.3s ease-in-out;
}

.hero #scroll-down-yo.hidden {
    opacity: 0;
}

.hero #scroll-down-yo .wheel {
    height: 7px;
    width: 3px;
    background-color: #fff;
    position: absolute;
    left: calc(50% - 1px);
    top: 10px;
    border-radius: 2px;
    animation: scrolley 2.5s infinite var(--transition);
}

@keyframes scrolley {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

@keyframes scrolleyscrolley {
    0% {
        transform: translateY(43px) translateX(13px);
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        transform: translateY(48px) translateX(13px);
        background-color: rgba(255, 255, 255, 1);
    }
    100% {
        transform: translateY(48px) translateX(13px);
        background-color: rgba(255, 255, 255, 0);
    }
}

@keyframes scrolleyscrolley2 {
    0%, 10% {
        transform: translateY(52px) translateX(13px);
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        background-color: rgba(255, 255, 255, 1);
        transform: translateY(57px) translateX(13px);
    }
    100% {
        transform: translateY(57px) translateX(13px);
        background-color: rgba(255, 255, 255, 0);
    }
}

.hero #scroll-down-yo .arrow {
    position: relative;
    transform: translateY(43px) translateX(13px);
    animation: scrolleyscrolley 2.5s var(--transition) infinite;
    background-color: rgba(255, 255, 255, 1);
}

.hero #scroll-down-yo .arrow.two {
    position: relative;
    transform: translateY(52px) translateX(13px);
    animation: scrolleyscrolley2 2.5s var(--transition) infinite;
}

.hero #scroll-down-yo .arrow::before {
    content: '';
    position: absolute;
    height: 9px;
    width: 2px;
    transform: rotate(45deg);
    background-color: inherit;
}

.hero #scroll-down-yo .arrow::after {
    content: '';
    position: absolute;
    height: 9px;
    width: 2px;
    transform: rotate(-45deg) translateX(-4px) translateY(-4px);
    border-radius: 2px;
    background-color: inherit;
}

.how-it-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.how-it-works h5 {
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    color: var(--primary-text-color);
}

.how-it-works .steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.how-it-works .steps .step {
    flex: 1;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary-text-color);
    position: relative;
}

.how-it-works .steps .step .number {
    height: 25px;
    width: 25px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #fff;
}

.how-it-works .steps .step .icon {
    font-size: 60px;
    margin: 30px 0;
}

.how-it-works .steps .step .text {
    max-width: 200px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.how-it-works .steps .step .text .disclaimer {
    font-size: 8px;
}

.how-it-works .steps .step:first-child::before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 12.5px;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.how-it-works .steps .step:last-child::before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 12.5px;
    right: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}