html
    head
        title=title
        //- Import fonts from Google Fonts
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lobster')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Rubik:300,400,700')

        //- Import Font Awesome
        script(defer, src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")

        link(rel='stylesheet', href='/stylesheets/layout/reset.css')
        link(rel='stylesheet', href='/stylesheets/accounts/signup.css')
        script(src="/javascripts/accounts/signup/index.js")
    body
        #box
            #im-so-tilted
            #logo-container
                a.logo(href='/') 
                    span.highlight Open
                    | Reviews
            #action-choices
                h2#signup.big-text.selected Sign Up
                p or
                h2#signin.big-text Sign in

            #window
                #fields
                    .signup-fields
                        .field
                            input.text-field(type="text", placeholder="username")
                            .field-icon
                                i.fas.fa-user
                        .field
                            input.text-field(type="text", placeholder="email")
                            .field-icon
                                i.fas.fa-envelope
                        .field
                            input.text-field(type="password", placeholder="password")
                            .field-icon
                                i.fas.fa-lock
                        .field
                            input.text-field(type="password", placeholder="retype your password")
                            .field-icon
                                i.fas.fa-lock
                    .signin-fields
                        .field
                            input.text-field(type="text", placeholder="username")
                            .field-icon
                                i.fas.fa-user
                        .field
                            input.text-field(type="password", placeholder="password")
                            .field-icon
                                i.fas.fa-lock
            #submit
                button#submit-btn Create an account